@(combi: models.Combi, combiWeaponForm: Form[CombiWeapon], combiCostForm: Form[CombiCost], weaponList: List[Tuple2[String, String]], weaponsCombined: Map[Int, models.Weapon], houseList: List[Tuple2[String, String]], combiCosts: List[models.CombiCost], houseMap: Map[Int, String])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Necromanager -- Combi Weapon Editor") {
  <p><div class="lead">@combi.name</div></p>
  <p><div class="lead">sub weapons</div></p>
  
  @weaponlist(weaponsCombined)

  <table class="table">
    <tr>
      <td width="50%">
        <p><div class="lead">Add Weapon to Combi</div></p>

        @helper.form(action = routes.CombiController.addWeaponToCombi) {
          <input type="hidden" name="id" value="0"/>
          <input type="hidden" name="combiId" value="@combi.id" />
          @helper.select( field = combiWeaponForm("weaponId"), options = weaponList, 'class -> "form-control")
          <button type="submit" class="btn btn-default">Add Sub Weapon</button> 
        }
        </p>
      </td>
      <td>
        <p><div class="lead">Costs</div></p>
        <table class="table">
          @for(cost <- combiCosts) {
            <tr>
              <td>@houseMap(cost.houseId)</td>
              <td>@cost.credits</td>
              <td><a href="@routes.CombiController.removeCostFromCombi(cost.id)">remove cost</a></td>
            </tr>
          }
        </table>

        <p><div class="lead">Add Cost</div></p>
        @helper.form(action = routes.CombiController.addCostToCombi) {
        <fieldset>
          <input type="hidden" name="id" value="0"/>
          @helper.select(
            field = combiCostForm("houseId"),
            options = houseList,
            'class -> "form-control")
          <input type="hidden" name="combiId" value="@combi.id"/>
          @helper.inputText(combiCostForm("credits"))
          <input type="submit" class="btn btn-primary" value="submit">
        </fieldset>
      </td>
    </tr>
  </table>
}

}