@(skillForm: Form[models.Skill])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Necromanager --- Skills Editor") {
  	@helper.form(action = routes.SkillController.submit()) {

	  	<fieldset>
	      @helper.inputText(skillForm("name"), 'class -> "form-control")
	      @helper.inputText(skillForm("skillType"), 'class -> "form-control")
	      @helper.inputText(skillForm("description"), 'class -> "form-control", 'height -> "100" )
	      <input type="hidden" name="id" value="0"/>
	      <input type="submit" class="btn btn-primary" value="submit">		
	  	</fieldset>
 	}
 }