@(skills: List[models.Skill])

@main("Skills Editor") {
  <a href="@routes.SkillController.create" class="btn btn-primary">Add Skill</a>
  <br />
  <br />
  <table class="table">
  	<tr>
  	  <th>type</th>
  	  <th>skill</th>
  	  <th width="50%">description</th>
  	</tr>
  	
	@for(skill <- skills) {
	  <tr>
	    <td>@skill.skillType</td>
	    <td><b>@skill.name</b></td>
	    <td>@skill.description</td>
	    <td><a href="@routes.SkillController.delete(skill.id)" class="btn btn-danger"><div class="glyphicon glyphicon-trash"></div></a></td>
	  </tr>
	}
  </table>
}