@(house: models.House, gangs: List[Tuple2[models.Gang, Int]])

@main("NecroManager") {
  <ol class="breadcrumb">
    <li><a href="/">NMM</a></li>
    <li class="active">House @house.name</li>
  </ol>
  <table class="table">
  	<tr>
  	  <th>name</th>
  	  <th>credits</th>
      <th></th>
  	</tr>
    @for(gang <- gangs) {
      <tr>
  	    <td><a href="@routes.GangController.show(gang._1.id)">@gang._1.name</a></td>
  	    <td>@gang._2</td>
  	    <td><a href="@routes.GangController.delete(gang._1.id)" class="btn btn-danger">Delete Gang</a></td>
  	  </tr>
    }
  </table>
  <a class="btn btn-primary" href="@routes.GangController.create(house.id)">Found Gang</a>
}
