@(fd: controllers.FD)(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@main("Necro-Manager -- " + fd.fighter.name) {

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 style="margin:0px;padding:0px">
        <a href="@routes.HouseController.show(fd.house.id)">@fd.house.name</a>
        <small><a href="@routes.GangController.show(fd.gang.id)">@fd.gang.name</a></small>
      </h4>

      <h3 style="margin:0px;padding:0px">
        @fd.fighter.name
        <small>@fd.fighterProfile.fighterClass (@fd.cost credits)</small>
      </h3>
      <br />
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Roster
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          @for(ganger <- fd.gangList) {
            @if(ganger._1.toInt == fd.fighter.id) {
            <li><a href="@routes.FighterController.show(ganger._1.toInt)"><b>@ganger._2</b></a></li>
            } else {
            <li><a href="@routes.FighterController.show(ganger._1.toInt)">@ganger._2</a></li>
            }
          }
        </ul>
      </div>
    </div>

    <div class="panel-body">

      <div class="panel panel-info">
        <div class="panel-heading"><strong>Attributes</strong></div>
        <div class="panel-body">
        @profile(fd.fighterProfile, fd.cost)
        </div>
      </div>

      @if(fd.weaponsArmed.isEmpty == false) {
        <div class="panel panel-info">
          <div class="panel-heading"><strong>Weapons</strong></div>
          <div class="panel-body">@weaponList(fd.weaponsArmed, fd.edit)</div>
        </div>
      }


      @if(fd.combisArmed.isEmpty == false) {

        <div class="panel panel-info">
          <div class="panel-heading"><strong>Combis</strong></div>
          <div class="panel-body">
            @for(combi <- fd.combisArmed) {
              <b>@combi._2.combi.name</b>
              @combi._2.cost credits
              @if(fd.edit == true) {
                <a href="@routes.CombiController.removeCombiFromFighter(combi._1)">
                  <div class="glyphicon glyphicon-trash"></div>
                </a>
              }
              @combiList(combi._2.subweapons)
            }
          </div>
        </div>
      }

      <table style="width:100%">
            <tr  style="width:100%">
              @if(fd.fighterWargear.isEmpty == false) {
                <td>
                  <div class="panel panel-info">
                  <div class="panel-heading"><strong>Wargear</strong></div>
                  <div class="panel-body">
                    @for(gear <- fd.fighterWargear) {
                      <a href="@routes.WargearController.show(gear.wargearId)">@fd.wargearMap(gear.wargearId)</a>

                      ( @if(fd.gearCostMap.contains(gear.wargearId)){ @fd.gearCostMap(gear.wargearId) } else { 0 } )
                      @if(fd.edit == true) {
                        <a href="@routes.WargearController.removeGearFromFighter(gear.id)">
                          <div class="glyphicon glyphicon-trash"></div>
                        </a>
                      }
                    }
                  </div>
            </div>
          </td>
        }

      @if(fd.fighterSkills.isEmpty == false) {
        <td>
          <div class="panel panel-info">
          <div class="panel-heading"><strong>Skills</strong></div>
          <div class="panel-body">
            @for(fighterSkill <- fd.fighterSkills) {
              @fd.skillMap(fighterSkill.skillId)
              @if(fd.edit == true) {
                <a href="@routes.SkillController.removeSkillFromFighter(fighterSkill.id)">
                  <div class="glyphicon glyphicon-trash"></div>
                </a>
              }
            }
          </div>
          </div>
        </td>
      }
      </tr>
    </table>
    </div>
  </div>

  @if(fd.edit == true) {
  <div class="panel panel-info">
    <div class="panel-heading lead">Modify Fighter</div>
    <div class="panel-body">
      <table>
        <tr>
          <td style="width:25%;">
            <div class="lead">Add Weapon</div>

            @helper.form(action = routes.WeaponController.addWeaponToFighter()) {
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="fighterId" value='@fd.fighter.id'/>
            @helper.select(field = forms.Forms.weaponForm("weaponId"), options = fd.weapons, 'class -> "form-control")
            <button type="submit" class="btn btn-default">Add Weapon</button>
            }

          </td>

          <td style="width:25%;">

            <div class="lead">Add Combi</div>
            @helper.form(action = routes.CombiController.addCombiToFighter()) {
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="fighterId" value='@fd.fighter.id'/>
            @helper.select( field = forms.Forms.combiFighterForm("combiId"), options = fd.combis, 'class -> "form-control")
            <button type="submit" class="btn btn-default">Add Combi</button>
            }

          </td>

          <td style="width:25%;">
            <div class="lead">Add Wargear</div>
            @helper.form(action = routes.WargearController.addGearToFighter()) {
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="fighterId" value='@fd.fighter.id'/>
            @helper.select( field = forms.Forms.fighterWargearForm("wargearId"), options = fd.wargear, 'class -> "form-control")
            <button type="submit" class="btn btn-default">Add Gear</button>
            }
          </td>

          <td style="width:25%;">
            <div class="lead">Add Skill</div>
            @helper.form(action = routes.SkillController.addSkillToFighter()) {
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="fighterId" value='@fd.fighter.id'/>
            @helper.select( field = forms.Forms.fighterSkillForm("skillId"), options = fd.skills, 'class -> "form-control")
            <button type="submit" class="btn btn-default">Add Skill</button>
            }
          </td>
        </tr>
      </table>
    </div>
  </div>
  }
}