@(house: models.House, 
  gang: models.Gang, 
  fighter: models.Fighter, 
  fighterProfile: models.FighterProfile, 
  weapons: List[Tuple2[String, String]], 
  weaponsArmed: Map[Int, Tuple2[models.Weapon, Int]], 
  cost: Int, 
  skills: List[Tuple2[String, String]], 
  fighterSkills: List[models.FighterSkill], 
  skillMap: Map[Int, String],
  wargear: List[Tuple2[String, String]],
  fighterWargear: List[models.FighterWargear],
  fighterWargearMap: Map[Int, String],
  gearCostMap: Map[Int, Int],
  combis: List[Tuple2[String, String]],
  combisArmed: Map[Int, Tuple3[models.Combi, List[models.Weapon], Int]],
  gangList: List[Tuple2[String, String]])(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@main("Necro-Manager -- " + fighter.name) {
  <ol class="breadcrumb">
    <li><a href="/">NMM</a></li>
    <li><a href="@routes.HouseController.show(house.id)">House @house.name</a></li>
    <li><a href="@routes.GangController.show(gang.id)">@gang.name</a></li>
    <li class="active">
      <b>@(fighter.name)</b>, @fighterProfile.fighterClass (@cost credits)
    </li>
  </ol>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      @gang.name 
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      @for(ganger <- gangList) {
        @if(ganger._1.toInt == fighter.id) {
         <li><a href="@routes.FighterController.show(ganger._1.toInt)"><b>@ganger._2</b></a></li>
        } else {
        <li><a href="@routes.FighterController.show(ganger._1.toInt)">@ganger._2</a></li> 
        }
      }  
    </ul>
  </div>

  <p>
    <div class="lead"><b>Attributes</b></div>
    @profile(fighterProfile, cost)
  </p>

  <p><div class="lead"><b>Weapons</b></div></p>
  @if(weaponsArmed.isEmpty == false) {
      @weaponList(weaponsArmed)
  } else {
    no weapons currently armed</p>
  }

  <p><div class="lead"><b>Combis</b></div></p>
  @if(combisArmed.isEmpty == false) {
    @for(combi <- combisArmed) {
      <b>@combi._2._1.name</b>
      @combi._2._3 credits
      <a href="@routes.CombiController.removeCombiFromFighter(combi._1)">
        <div class="glyphicon glyphicon-trash"></div>
      </a>
      @combiList(combi)
    } 
  } else {
   no combis currently armed
  }

  <table class="table">
    <tr>
      <td>
        <p>
          <div class="lead"><b>Wargear</b></div>
          @for(gear <- fighterWargear) {
            <a href="@routes.WargearController.show(gear.wargearId)">@fighterWargearMap(gear.wargearId)</a>
            @if(gearCostMap.contains(gear.wargearId)){ @gearCostMap(gear.wargearId) } else { 0 }
            credits
            <a href="@routes.WargearController.removeGearFromFighter(gear.id)">
              <div class="glyphicon glyphicon-trash"></div>
            </a>
            <br />
          }
        </p>
      </td>
      <td>
        <p>
          <div class="lead"><b>Skills</b></div>
          @for(fighterSkill <- fighterSkills) {
            @skillMap(fighterSkill.skillId)
            <a href="@routes.SkillController.removeSkillFromFighter(fighterSkill.id)">
              <div class="glyphicon glyphicon-trash"></div>
            </a>
          }
        </p>
      </td>
    </tr>
  <br/>

  <table class="table">
    <tr>
      <td width="25%">
        <p><div class="lead">Add Weapon</div>

        @helper.form(action = routes.WeaponController.addWeaponToFighter()) {
      	  <input type="hidden" name="id" value="0"/>
          <input type="hidden" name="fighterId" value='@fighter.id'/>
          @helper.select(field = forms.Forms.weaponForm("weaponId"), options = weapons, 'class -> "form-control")
          <button type="submit" class="btn btn-default">Add Weapon</button>
        }
        </p>
      </td>
      
      <td width="25%">
        <p>
          <div class="lead">Add Combi</div>
          @helper.form(action = routes.CombiController.addCombiToFighter()) {
            <input type="hidden" name="id" value="0"/>
            <input type="hidden" name="fighterId" value='@fighter.id'/>
            @helper.select( field = forms.Forms.combiFighterForm("combiId"), options = combis, 'class -> "form-control")
            <button type="submit" class="btn btn-default">Add Combi</button>    
          } 
        </p>
      </td>
      
      <td width="25%">
        <p><div class="lead">Add Wargear</div></p>
        @helper.form(action = routes.WargearController.addGearToFighter()) {
          <input type="hidden" name="id" value="0"/>
          <input type="hidden" name="fighterId" value='@fighter.id'/>
          @helper.select( field = forms.Forms.fighterWargearForm("wargearId"), options = wargear, 'class -> "form-control")
          <button type="submit" class="btn btn-default">Add Gear</button>    
        } 
      </td>
      
      <td width="25%">
        <p><div class="lead">Add Skill</div></p>
        @helper.form(action = routes.SkillController.addSkillToFighter()) {
          <input type="hidden" name="id" value="0"/>
          <input type="hidden" name="fighterId" value='@fighter.id'/>
          @helper.select( field = forms.Forms.fighterSkillForm("skillId"), options = skills, 'class -> "form-control")
          <button type="submit" class="btn btn-default">Add Skill</button>    
        } 
      </td>
    </tr>
  <table>

}