@(weapons: Map[Int, models.ArmedWeapon])

<table class="table">
  <tr>
  	<th>class</th>
  	<th>name</th>
  	<th>variant</th>
  	<th>rs</th>
  	<th>rl</th>
  	<th>accs</th>
  	<th>accl</th>
  	<th>s</th>
  	<th>ap</th>
  	<th>d</th>
  	<th>am</th>
    <th>traits</th>
    <th>cost</th>
    <th></th>
  </tr>
  @for(weapon <- weapons) {
    <tr>
      <td>@weapon._2.weapon.weaponType</td>
      <td><a href="@routes.WeaponController.show(weapon._2.weapon.id)">@weapon._2.weapon.name</a></td>
      <td>@weapon._2.weapon.variant</td>
      <td>@weapon._2.weapon.rangeShort</td>
      <td>@weapon._2.weapon.rangeLong</td>
      <td>@weapon._2.weapon.accuracyShort</td>
      <td>@weapon._2.weapon.accuracyLong</td>
      <td>@weapon._2.weapon.strength</td>
      <td>@weapon._2.weapon.armorPenetration</td>
      <td>@weapon._2.weapon.damage</td>
      <td>@weapon._2.weapon.ammo</td>
      @if(weapon._2.traits.size > 0) {
        <td>
          <ul style="list-style-type: none;">
              @for(t <- weapon._2.traits) { <li>@t</li> }
          </ul>
        </td>
      } else {<td></td>}
      <td>@weapon._2.cost</td>
      <td>
        <a href="@routes.WeaponController.removeWeaponFromFighter(weapon._1)">
          <div class="glyphicon glyphicon-trash"></div>
        </a>
      </td>
    </tr>
  }
</table>