@(house: models.House, gang: models.Gang, summaries: List[models.FighterSummary], cost: Int)


@main("NecroManager") {
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href="@routes.HouseController.show(house.id)">
        <strong>@house.name</strong>
      </a>
      @gang.name
      </a>(@cost credits)
      <a href="@routes.FighterController.create(gang.id)" class="btn btn-standard"><div class="glyphicon glyphicon-plus"></div></a>
      <a href="@routes.GangController.show(gang.id)" class="btn btn-standard"><div class="glyphicon glyphicon-pencil"></div></a>
      <a href="@routes.GangController.delete(gang.id)" class="btn btn-danger"><div class="glyphicon glyphicon-trash"></div></a>
      <div class="lead">Roster</div>
    </div>
    <div class="pane-body">
      <table class="table">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>weapons</th>
          <th>wargear</th>
          <th>skills</th>
          <th>credits</th>
          <th></th>
        </tr>
        @for(fighter <- summaries) {
          <tr>
            <td><a href="@routes.FighterController.show(fighter.id)">@fighter.name</a></td>
            <td>@fighter.fighterType</td>
            <td>
            @for(combi <- fighter.combis) {
              @combi._2.combi.name (combi)
              <br />
            }

            @for(weapon <- fighter.weaponsArmed) {
              @weapon._2.weapon.name
              @if(!weapon._2.weapon.variant.isEmpty){
                -- @weapon._2.weapon.variant
              }
              <br />
            }
            </td>
            <td>@for(gear <- fighter.wargear){
              @gear
              <br />
            }
            </td>
            <td>
            @for(skill <- fighter.skills) {
              @skill
              <br />
            }
            </td>
            <td>@fighter.cost</td>
            <td>
              <a href="@routes.FighterController.show(fighter.id)" class="btn btn-standard"><div class="glyphicon glyphicon-eye-open"></div></a>
              <a href="@routes.FighterController.show(fighter.id)" class="btn btn-standard"><div class="glyphicon glyphicon-edit"></div></a>
              <a href="@routes.FighterController.delete(fighter.id)" class="btn btn-danger"><div class="glyphicon glyphicon-trash"></div></a>
            </td>
          </tr>
        }
      </table>
    </div>
  </div>

}